{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
           At Movies Store, we offer a vast digital library
           that spans across genres, ensuring there's
           something for every movie lover. Browse our
           extensive collection of films, including the
           latest releases, timeless classics, and hidden
           gems. With just a few clicks, you can rent or
           purchase your favorite titles and instantly
           stream them in high-definition quality.
        </p>
        <p>
          Discover the convenience of our digital platform,
          where you have the flexibility to watch movies
          on your preferred device, whether it's a smart
          TV, tablet, or smartphone. With our intuitive
          search and recommendation features, finding your
          next movie night pick has never been easier.
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}"
             class="rounded img-card-400 img-fluid"
             alt="about" />
      </div>
    </div>
    <div class="row mt-3">
        <h2>Meet the Team!</h2>
        <hr />
        <p>Come take a peek at who we are and our process throughout the creation of the Movie Store!</p>
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRmuAjYmcVoBiRIfeo7uSCA1VUJg2y_4BgbbSZfx7dyBz2n3moAyMINfq_J5hHczzYk0WIcWFUh-FWG/embed?start=true&loop=true&delayms=10000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
  </div>
</div>
{% endblock content %}